{% extends 'base.html.twig' %}

{% block title %}
    Erreur 404
{% endblock %}

{% block body %}
    <div>
        <div class="site-content">
            <div class="error-404-main-container">
                <div class="container container-star">
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                </div>
                <div class="container container-bird">
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-title">
                    <div class="title">
                        <div class="number">4</div>
                        <div class="moon">
                            <div class="face">
                                <div class="mouth"></div>
                                <div class="eyes">
                                    <div class="eye-left"></div>
                                    <div class="eye-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="number">4</div>
                    </div>
                    <div class="text">
                        <p>Oops! Il semble que rien n'a été trouvé à cet endroit...</p>
                    </div>
                    <div class="home-link">
                        <a href="{{ url('homepage') }}">Retour à la page d'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}